In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv"
vacc_df = pd.read_csv(url)
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

In [3]:
vac_israel= vacc_df[vacc_df['location'].str.contains("Israel")]
vac_israel

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
11663,Israel,ISR,2020-12-19,60.0,60.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
11664,Israel,ISR,2020-12-20,7419.0,7419.0,NaN,7359.0,7359.0,0.09,0.09,NaN,850.0
11665,Israel,ISR,2020-12-21,32303.0,32303.0,NaN,24884.0,16122.0,0.37,0.37,NaN,1863.0
11666,Israel,ISR,2020-12-22,76915.0,76915.0,NaN,44612.0,25618.0,0.89,0.89,NaN,2960.0
11667,Israel,ISR,2020-12-23,139748.0,139748.0,NaN,62833.0,34922.0,1.61,1.61,NaN,4035.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11835,Israel,ISR,2021-06-09,10613376.0,5471766.0,5141610.0,4568.0,3349.0,122.62,63.22,59.40,387.0
11836,Israel,ISR,2021-06-10,10617667.0,5474941.0,5142726.0,4291.0,3565.0,122.67,63.25,59.42,412.0
11837,Israel,ISR,2021-06-11,10619306.0,5476180.0,5143126.0,1639.0,3590.0,122.69,63.27,59.42,415.0
11838,Israel,ISR,2021-06-12,10619532.0,5476317.0,5143215.0,226.0,3598.0,122.69,63.27,59.42,416.0
11839,Israel,ISR,2021-06-13,10623711.0,5479333.0,5144378.0,4179.0,3476.0,122.74,63.30,59.43,402.0

In [24]:
vac_israel = vacc_df[vacc_df.location.str.contains("Israel")]
vac_israel.count()

location                               177
iso_code                               177
date                                   177
total_vaccinations                     177
people_vaccinated                      177
people_fully_vaccinated                161
daily_vaccinations_raw                 176
daily_vaccinations                     176
total_vaccinations_per_hundred         177
people_vaccinated_per_hundred          177
people_fully_vaccinated_per_hundred    161
daily_vaccinations_per_million         176
dtype: int64

In [6]:
type(vac_israel['date'])

pandas.core.series.Series

In [26]:
max_vac = vac_israel['daily_vaccinations'].max()
max_vac
vac_israel.loc[vac_israel.daily_vaccinations == max_vac, 'date'].values[0]

'2021-01-25'

In [31]:
vac_israel[['location','date','daily_vaccinations']].head(3)

      location        date  daily_vaccinations
11663   Israel  2020-12-19                 NaN
11664   Israel  2020-12-20              7359.0
11665   Israel  2020-12-21             16122.0

In [32]:
vac_israel[['daily_vaccinations']].mean()

daily_vaccinations    60686.193182
dtype: float64

In [34]:
vac_israel['people_vaccinated_per_hundred'].isnull().sum()

0

In [35]:
no_NaN_pvph= vac_israel.dropna(subset =["people_vaccinated_per_hundred"])
no_NaN_pvph

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
11663,Israel,ISR,2020-12-19,60.0,60.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
11664,Israel,ISR,2020-12-20,7419.0,7419.0,NaN,7359.0,7359.0,0.09,0.09,NaN,850.0
11665,Israel,ISR,2020-12-21,32303.0,32303.0,NaN,24884.0,16122.0,0.37,0.37,NaN,1863.0
11666,Israel,ISR,2020-12-22,76915.0,76915.0,NaN,44612.0,25618.0,0.89,0.89,NaN,2960.0
11667,Israel,ISR,2020-12-23,139748.0,139748.0,NaN,62833.0,34922.0,1.61,1.61,NaN,4035.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11835,Israel,ISR,2021-06-09,10613376.0,5471766.0,5141610.0,4568.0,3349.0,122.62,63.22,59.40,387.0
11836,Israel,ISR,2021-06-10,10617667.0,5474941.0,5142726.0,4291.0,3565.0,122.67,63.25,59.42,412.0
11837,Israel,ISR,2021-06-11,10619306.0,5476180.0,5143126.0,1639.0,3590.0,122.69,63.27,59.42,415.0
11838,Israel,ISR,2021-06-12,10619532.0,5476317.0,5143215.0,226.0,3598.0,122.69,63.27,59.42,416.0
11839,Israel,ISR,2021-06-13,10623711.0,5479333.0,5144378.0,4179.0,3476.0,122.74,63.30,59.43,402.0

In [43]:
import statistics
statistics.harmonic_mean(vac_israel['people_vaccinated_per_hundred'])

0

In [ ]:
total_vaccinations_per_hundred