### name of students:

Dor Natan, ID: 315533067

Gil Abramovich, ID: 314722372

#### solution to question 1:

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv"
vacc_df = pd.read_csv(url)
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

#### solution to question 2 - we chose Denmark because the name Dor begins with "D"

In [3]:
vacc_df[vacc_df.location.str.contains("Denmark")]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
2078,Denmark,DNK,2020-12-27,6425.0,6425.0,NaN,NaN,NaN,0.11,0.11,NaN,NaN
2079,Denmark,DNK,2020-12-28,8417.0,8417.0,NaN,1992.0,1992.0,0.15,0.15,NaN,344.0
2080,Denmark,DNK,2020-12-29,17298.0,17298.0,NaN,8881.0,5436.0,0.30,0.30,NaN,939.0
2081,Denmark,DNK,2020-12-30,28684.0,28684.0,NaN,11386.0,7420.0,0.50,0.50,NaN,1281.0
2082,Denmark,DNK,2020-12-31,34797.0,34797.0,NaN,6113.0,7093.0,0.60,0.60,NaN,1225.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2157,Denmark,DNK,2021-03-16,874451.0,596175.0,278276.0,16276.0,13764.0,15.10,10.29,4.80,2376.0
2158,Denmark,DNK,2021-03-17,894301.0,606880.0,287421.0,19850.0,13833.0,15.44,10.48,4.96,2388.0
2159,Denmark,DNK,2021-03-18,916029.0,621438.0,294591.0,21728.0,15127.0,15.81,10.73,5.09,2612.0
2160,Denmark,DNK,2021-03-19,935357.0,628963.0,306394.0,19328.0,15882.0,16.15,10.86,5.29,2742.0
2161,Denmark,DNK,2021-03-20,943120.0,631860.0,311260.0,7763.0,15489.0,16.28,10.91,5.37,2674.0

#### solution to question 3 - Number of records about Denmark is:

In [4]:
my_country = vacc_df[vacc_df.location.str.contains("Denmark")]
my_country.count()

location                               84
iso_code                               84
date                                   84
total_vaccinations                     84
people_vaccinated                      84
people_fully_vaccinated                65
daily_vaccinations_raw                 83
daily_vaccinations                     83
total_vaccinations_per_hundred         84
people_vaccinated_per_hundred          84
people_fully_vaccinated_per_hundred    65
daily_vaccinations_per_million         83
dtype: int64

#### solution to question 4 - The date we vaccinated the most people is:

In [5]:
max_vacc_daily = my_country.daily_vaccinations.max()
max_vacc_daily
vacc_df.loc[vacc_df.daily_vaccinations == max_vacc_daily, 'date'].values[0]

'2021-03-10'

#### solution to question 5 -

In [6]:
my_country[['location','date','daily_vaccinations']].head(6)

     location        date  daily_vaccinations
2078  Denmark  2020-12-27                 NaN
2079  Denmark  2020-12-28              1992.0
2080  Denmark  2020-12-29              5436.0
2081  Denmark  2020-12-30              7420.0
2082  Denmark  2020-12-31              7093.0
2083  Denmark  2021-01-01              6137.0

#### solution to question 6 - The average number of vaccinations per day in Denmark is:

In [7]:
my_country.daily_vaccinations.mean()

10896.313253012047

#### solution to question 7 -

In [1]:

no_NaN_pvph= my_country.dropna(subset =["people_vaccinated_per_hundred"])
no_NaN_pvph

NameError: name 'my_country' is not defined

#### solution to question 8 -

In [51]:
no_NaN_pvph["people_vaccinated_per_hundred"].mean()

4.306794871794873

#### solution to question 9 -

In [52]:
no_NaN_daily_vacc= my_country.dropna(subset =["daily_vaccinations"])
no_NaN_daily_vacc
daily_vacc_mean=no_NaN_pvph["daily_vaccinations"].mean()
daily_vacc_median=no_NaN_pvph["daily_vaccinations"].median()
if daily_vacc_mean > daily_vacc_median:
    print("The avarage about daily_vaccinations higher than the median: ",daily_vacc_mean)
elif daily_vacc_mean < daily_vacc_median:
    print("The median about daily_vaccinations higherthan the avarage: ",daily_vacc_median)
else:
    print("The median and the mean are equal",daily_vacc_mean)

The avarage about daily_vaccinations higher than the median:  10601.636363636364